body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}


/* ---- particles.js container ---- */

#particles-js{
/* position: fixed;
width: 200%; */
height: 100%;
width: 100%;
position: absolute;
left: 0;top: 0;
z-index: -1;
cursor: pointer;
}
#particles-js:active{
cursor: cell;
}

header{

border-radius: 20px;
position: relative;

height: 400px
   

}


.intro{

padding-bottom: 20px;
width: 100%;
color: #fff;
text-align: center;
text-shadow: 2px 2px #333;
}

span.free{
text-shadow: 1px 1px 7px rgb(0, 174, 193);
/*
animation-name: example;
animation-duration: 2s;
animation-iteration-count: infinite;
*/
font-size: 3.5vw;
}
/*
@keyframes example {
0%   { font-size: 3.2vw; }
50%  { font-size: 3.3vw; }
100% {transform: scale(1);}
}
*/
header h3{
font-size: 4vw;

margin: 0 auto;
text-align: center;
margin-top: 20%;
line-height: 1.5;
 font-weight: bold   
}


a.mainBtn{
color: #585858;
padding: 1vw 12vw;
font-size: 17px;
font-weight: 900;
background-color: #fff;
border-radius: 50px;
border: 1px solid rgba(0, 174, 193, 0);
transition: .3s;
box-shadow: 1px 3px 15px -5px rgb(0, 0, 0);
text-shadow: 1px 1px #333;
    position: absolute;
    bottom: 0;
    right: 34%;
    margin-bottom: 70px;
}

a.mainBtn:hover{
background-color: rgba(51, 51, 51, 0.78);
color: #fff;
text-decoration: none;
border: 1px solid rgb(0, 174, 193);
box-shadow: 0px 0px 7px 0px rgb(0, 174, 193);
}
header a.mainBtn{
text-shadow: 0px 0px #000000;
}
/* NavBar Start */



.navbar{
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    border: 0;
    font-size: 1.1em;
    padding: 10px;
    width: 100%;
    z-index: 99;
    top: 0;
    transition: .5s;
    margin: 0;
    position: fixed
    /* box-shadow: 0px 4px 10px -5px rgba(0,0,0,0.75); */
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.navbar-default .navbar-brand{
    
    float: left;
}
.navbar-default .navbar-nav>li>a{
    color:#333;
    margin-right: 15px;
    transition: .5s;
    font-size: 12px;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a.active, .navbar-default .navbar-nav>li>a.active:focus{
    color: darkturquoise;
}





.navbar-default .navbar-nav>li>a:hover{
    color: #00aec1;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #00aec1;
}


.navbar-brand img{
    width: 165px;
    margin-top:-75px;
    height: 165px;
    float: left;
    
        
}
.navbar-default .navbar-nav>.active>a{
    color: #fff;
    background-color: transparent; 
    border: 1px solid #00aec1;
}

.navbar-default .navbar-nav>.active>a:hover{
    color: #333;
    background-color: #fff;
    
}

.navbar-default ul li{
    color: #fff;
    float: right;
    
}
.navbar ul{
    transition: ;
    float: right
}


.collapse ul{
    margin: 0;
    padding-right: 0px; 
    transition: .5s;
    
}

.navbar-brand{
    float: left;
    margin-right: 10px;
    font-size: 1.4em;
    
}
.navbar-toggle{
    float: left;
    border-radius: 11px;
    
}

.navbar-toggle:hover{
    
}

.navbar-collapse{
    padding: 0;
    
}
.navbar-default .navbar-collapse{
    border: none;
}

.scrolled{
    background-color: rgb(30, 54, 83);
    transition: .5s;
    padding: 0;
    
}

@media screen and (max-width: 760px){
    
.navbar-header{
    width: 100%;
    
}
    .navbar ul{
        width: 80%;
        background-color: #00aec1;
        padding: 18px 10px 1px 15px;
        margin-top:25px
}
    
    .navbar ul li:hover{
        background-color: #333
    }
    
    .navbar-header{
    float: none;
    
}

    .navbar-default ul li{
        color: #fff;
        float: none;
        margin-bottom: 10px;
    }
    
}

/* NavBar End 

/*
.off h1 {

  position:absolute;
  left:50%;
  width:90%;
  font-size:5rem;
  font-weight:700;
  letter-spacing:-2.5rem;
  transform:translateX(-50%) translateY(-50%);
  transition:letter-spacing .5s;
    color: #333;
    text-align: center
}
.off h1:hover {letter-spacing:0;}

.off{
   margin-top: 60px;
    margin-bottom: 60px
}


.data{
    margin-bottom: 50px
}
.plan img{
    width: 100%;
    border-radius: 10px
}

.plan{
    margin-bottom: 140px
}
.plan p{
    color: #333;
    margin-top: 20px;
    font-size: 20px;
    text-align: center
}
.plan p span{
    font-size: 60px;
    color: #091f39;
    font-weight: bold
}

.plan p b{
    font-size: 30px;
    color: #091f39
}


.build1{
   margin-top: 100px 
}
.build img{
    width: 100%;
    border-radius: 10px;
    margin-top: 0%
}


.build{
   
}

.build p{
    color: #333;
    font-size: 20px;
   text-align: center
}
.build p span{
    font-size: 60px;
    color: #091f39;
    font-weight: bold
}

.build p b{
    font-size: 30px;
    color: #091f39
}


.live img{
    width: 100%;
    border-radius: 10px;
    
}


.live1{
   margin-top: 80px
}

.live p{
    color: #333;
    font-size: 20px;
    text-align: center
}
.live p span{
    font-size: 60px;
    color: #091f39;
    font-weight: bold
}

.live p b{
    font-size: 30px;
    color: #091f39
}
*/


.headline h1{
    text-align: center;
    color: #333;
    
}


.slider{
   padding-bottom: 90px;
    background-color: #fff
    
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
    
      
}

.carousel-inner > .item img{
   border-radius: 20px
    
}

.carousel-indicators .active{
    background-color:#333 
}

.carousel-indicators{
    margin-bottom: -80px;
    
}

.carousel-indicators li{
    border: 1.4px solid rgba(52,75,161,1);
}

.glyphicon-chevron-left:before{
    color: #ff1a1a;
    margin-left: -40px
}

.glyphicon-chevron-right:before{
    color: #333;
    margin-right: -40px
}

.carousel-control.left{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
}
.carousel-control.right{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
}

.slider h1{
    color: #333
    font-size: 55px;
    text-align: center;
    font-weight: bold;
   padding-top: 60px;
    padding-bottom: 30px
}




.halfe{

}
.halfe img{
    width: 100%;
    border-radius: 10px;
    margin-top: 0%
}




.halfe p{
    color: #333;
    font-size: 20px;
   text-align: center
}
.halfe p span{
    font-size: 60px;
    color: #091f39;
    font-weight: bold
}

.halfe p b{
    font-size: 30px;
    color: #091f39
}


.why {
    margin-bottom: 50px;
    margin-top: 50px
}


.headline {

  text-align: center;
  position: absolute;
  margin: auto;
  height: 40%;
  width: 40%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
    margin-bottom: 80px
}

.why h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -5px;
  color: #fff;
}

.headline h1 {
  
  padding: 20px;
  font-size: 5vw;
}


#gradient {
  width: 100%;
  height: 15%;
  position: absolute;
  background: linear-gradient(270deg, #003366, #b27000, #06617d, #067370);
  background-size: 800% 800%;
  -webkit-animation: colors 30s ease infinite;
  -moz-animation: colors 30s ease infinite;
  animation: colors 30s ease infinite;
}

@-webkit-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes colors { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


/* Start Section Features */

.why{
   text-align: center;
    padding-bottom: 50px;
  background-color: #eee
}

.feat{
    margin-bottom: 45px;
    margin-top: 50px
}

.feat p{
    
    color: #091f39;
    padding: 10px;
    font-size: 17px;
    text-align: center
}

 .feat p:hover{
    background-color: #091f39;
    color: #fff;
   transition: 1s;
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.95);
    border-radius: 20px
}

.why h1{
    margin-bottom: 50px;
    
}

 .feat span.glyphicon{
    font-size: 45px;
    margin-bottom: 10px;
    color: #091f39;
    -webkit-transition-duration:0.7s;
    -moz-transition-duration:0.7s;
    -o-transition-duration:0.7s;
    transition-duration:1s;
     text-align: center;
}

 .feat span.glyphicon:hover{
transform: scale(1);
    transition: 2s;
    -webkit-transform:scale(1.1,1.1) rotate(360deg);
    -moz-transform:scale(1.1,1.1) rotate(360deg);
    -o-transform:scale(1.1,1.1) rotate(360deg);
    transform:scale(1.1,1.1) rotate(360deg);
       
}

.feat:hover span{
    -webkit-transform:scale(1.1,1.1) rotate(360deg);
    -moz-transform:scale(1.1,1.1) rotate(360deg);
    -o-transform:scale(1.1,1.1) rotate(360deg);
    transform:scale(1.1,1.1) rotate(360deg);
}

.feat h3{
    padding-top: 28px;
    color: #333;
    text-align: center;
    font-weight: bold
    
}
/* End Section Features */

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 17px;

    
}

label{
 color: #333;
    font-size: 20px;
    text-align: center;
    
}
input[type=submit] {
    background-color: #00aec1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
    font-size: 22px;
    width: 100%;
    margin-top: 30px
}

input[type=submit]:hover {
    background-color: #f82020;
    color: #333
    
}
.forme{
    padding-top: 80px;
   

}

.res {
    background-image: url(../img/4ebc2fad091081d-original.jpeg);
    background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 0; 
    top: 0;
    z-index: -2;
  
  width: 100%;
  height:800px;
  filter: brightness(.6);
}

.forme h1{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 45px;
    font-weight: bolder
}

form{
     border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    height: 480px;
    margin-bottom: 30px;
}


footer{
    bottom:0;
    left: 0;
    width: 100%;
    color: #fff;
}

.footer{ 
    padding: 30px ;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #333;
    width: 100%;
}
.footer .container{
    background-color: #333;
    padding: 0;
}
.social{
    
    text-align: center;
}

.social a{
    color: #fff;
    font-size: 30px;
    padding: 5px 10px;
    transition: .5s;
    margin-top: 40px;
}

.social a:hover{
    color: #FBC98C;
    transform: scale(1.3);
    
}

.logo{
    text-align: center;
}

.logo img{
    height: 150px;
    width: 250px
}

.about{
    text-align: center;
    margin-top: 10px;
    font-size: 15px
}

/*  783px */

@media screen and (max-width: 783px){
    #map{
        min-height: 120px;
    }
    .instructors{
        margin-bottom: 780px; 
    }
}